{{! 
Name: travel.hbs
Author: Alex Ho
Date: 2024-03-25
Description: travel page for users. When logged in, the user will see an "Add to Wishlist" button on each trip item.
}}
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Dive Sites - Bhaccasyoniztas Beach Resort Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Travel</h1>
							{{#if session}}
							{{/if}}
							<ul id="sites">
							{{#if session}}
								{{#each trips}}
								<li>
									<!--Uses rendering arguments to add the trip to database. Only renders button if logged in -->
									<a href="/api/trips/{{this.code}}"><img src="images/{{this.image}}" alt="Img"></a>
									<h2><a href="/travel">{{this.name}}</a></h2>
									<div id="addwishlist">
										<form method="POST" action="/travel/addtowishlist">
											<input type="hidden" name="tripCode" value="{{this.code}}">
											<button type="submit">Add to Wishlist</button>
										</form>
									</div>
									{{{this.description}}}
								</li>
								{{/each}}
							{{else}}
								{{#each trips}}
								<li>
									<!--Uses rendering arguments to show trips. This renders if not logged in -->
									<a href="/api/trips/{{this.code}}"><img src="images/{{this.image}}" alt="Img"></a>
									<h2><a href="/travel">{{this.name}}</a></h2>
									{{{this.description}}}
								</li>
								{{/each}}
							{{/if}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer}}
	</div>

</body>
</html>